<div th:fragments="button_admin">
	<div id="button_admin" class="left is-outline-gray "
		style="height: 100%">
		<hr>
		<div class="fs-3">
			<i class="bi bi-person-circle ms-4 me-2"></i>[[${session.user?.name}]]
		</div>
		<hr>
		<a th:href="@{/admin}">
			<button
				class=" tablinks active	w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-clipboard2-data-fill fs-4 p-3 "></i> Thống kê
			</button>
		</a> <a th:href="@{/admin/supplier}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-building-fill fs-4 p-3"></i> Nhà cung cấp
			</button>
		</a> <a th:href="@{/admin/author}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-person-badge fs-4 p-3"></i> Tác giả
			</button>
		</a> <a th:href="@{/admin/category}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-archive-fill fs-4 p-3"></i> Loại sản phẩm
			</button>
		</a> <a th:href="@{/admin/product}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-box-seam-fill fs-4 p-3"></i> Quản lý sản phẩm
			</button>
		</a> <a th:href="@{/admin/image}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-file-earmark-image fs-4 p-3"></i> Hình ảnh sản phẩm
			</button>
		</a> <a th:href="@{/admin/order}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-journal-medical fs-4 p-3"></i> Quản lý đơn hàng
			</button>
		</a> <a th:href="@{/admin/account}">
			<button
				class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
				<i class="bi bi-people-fill fs-4 p-3"></i> Quản lý tài khoản
			</button>
		</a>
		<button
			class="tablinks active w-100 border-0 p-3 fw-bold fs-5 text-start">
			<i class="bi bi-sign-turn-slight-right fs-4 p-3"></i>Đăng xuất
		</button>

	</div>
</div>