<div th:fragments="card">
	 
		<div class="card border-0 rounded-0">
	        <div class="card-header pt-1 border-0 rounded-0 text-light fs-5 fw-bold is-outline-pink">Account</div>
		        <div class="card-body rounded-0 pt-3 is-outline-gray">
		            <div class="pt-1"><a href="" class="text-decoration-none text-dark">Login</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Register</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Forgotten Password</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">My Account</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Address Book</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Wish List</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Order History</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Downloads</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Subscriptions</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Reward Points</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Returns</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Transactions</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Newsletter</a></div>
		        </div>
	        </div>
	        <div class="card border-0 rounded-0 pt-5 pb-5">
	            <div class="card-header pt-1 border-0 rounded-0 text-light fs-5 fw-bold is-outline-pink">Information</div>
	            <div class="card-body rounded-0 pt-3 is-outline-gray" >
	                <div class="pt-1"><a href="" class="text-decoration-none text-dark">Terms & Conditions</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Delivery Information</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Forgotten Password</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">About Us</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Privacy Policy</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Contact Us</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Site Map</a></div>
	            </div>
	        </div>  
	 </div>
 
