<div th:fragments="card">
		<div id="cart" class="card border-0 rounded-0">
	        <div class="card-header pt-1 border-0 rounded-0 text-light fs-5 fw-bold is-outline-pink">TÀI KHOẢN</div>
		        <div class="card-body rounded-0 pt-3 is-outline-gray">
		            <div class="pt-1"><a href="" class="text-decoration-none text-dark">Đăng nhập</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Đăng ký tài khoản</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Quên mật khẩu</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Tài khoản của tôi</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Địa chỉ in sách</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Danh sách mong muốn</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Lịch sử đơn hàng</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Tải xuống</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Đăng ký</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Điểm thưởng</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Trả về</a></div>
		            <div class="pt-3"><a href="" class="text-decoration-none text-dark">Giao dịch</a></div>
		        </div>
	        </div>
	        <div class="card border-0 rounded-0 pt-5 pb-5">
	            <div class="card-header pt-1 border-0 rounded-0 text-light fs-5 fw-bold is-outline-pink">THÔNG TIN</div>
	            <div class="card-body rounded-0 pt-3 is-outline-gray" >
	                <div class="pt-1"><a href="" class="text-decoration-none text-dark">Điều khoản và điều kiện</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Thông tin giao hàng</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Quên mật khẩu</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Về chúng tôi</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Chính sách bảo mật</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Liên hệ chúng tôi</a></div>
	                <div class="pt-3"><a href="" class="text-decoration-none text-dark">Sơ đồ trang web</a></div>
	            </div>
	        </div>  
	 </div>
 
