<div th:fragments="footer">
    <footer class="text-white pt-5 pb-4" style="background: #bfa4a4;">
        <div class="container text-center text-md-left">
            <div class="row text-center md-left" style="font-size: 14px;">
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <div id="footerBar">
                        <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black;font-weight: bold">Contact</a>
                        </p>
                        <p><a href="" class="text-decoration-none" style="color:black" ><i class="fa-solid fa-location-dot"></i> National park,d1 588436</a></p>
                        <p><a href="" class="text-decoration-none" style="color:black"><i class="fa-solid fa-phone"></i> +91 123 456 789</a></p>
                        <p><a href="" class="text-decoration-none" style="color:black"><i class="fa-solid fa-fax"></i> 0123-456-789</a></p>
                        <p><a href="" class="text-decoration-none" style="color:black"><i class="fa-solid fa-envelope"></i>
                            demo@Yourstore.com</a></p>
                    </div>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black;font-weight: bold">Information</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Terms & Conditionso</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Delivery Information</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Privacy Policy</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Contact Us</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black;font-weight: bold">Extras</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Brands</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Gift Certificates</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Affiliate </a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Specials</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black;font-weight: bold">My Account</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">My Account</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black"> Order History</a></p>
                    <p><a href="" class="text-decoration-none" style="color:black">Wish List</a>
                    </p>
                    <p><a href="" class="text-decoration-none" style="color:black">Newsletter</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black;font-weight: bold">Find Us On</a></p>
                    <div class="product-additional-info">
                        <div class="social-sharing">     
                            <ul class="ps-0">
                                <li style="background-color:black" class="facebook">
                                    <a><i class="fa-brands fa-facebook"></i></a>
                               </li>
                               <li style="background-color:black" class="facebook">
                                <a><i class="fa-brands fa-instagram"></i></a>
                           </li>  
                               <li style="background-color:black" class="twitter ">
                                <a><i class="bi bi-twitter"></i></a>
                               </li>
                               <li style="background-color:black" class="pinterest ">
                                <a><i class="bi bi-pinterest" ></i></a>
                               </li>
                            </ul>
                        </div>
                    </div>
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:black">Payment</a></p> 
                    <div class="pb-3">
                    <img th:src="@{/images/visa.jpg}" alt="" class="img-fluid">
					<img th:src="@{/images/visa2.jpg}" alt="" class="img-fluid">
					<img th:src="@{/images/visa3.jpg}" alt="" class="img-fluid">
					<img th:src="@{/images/visa4.jpg}" alt="" class="img-fluid">
					</div>
                </div>

            </div>
        </div>
        <hr style="background-color: black;" >
        <div class="container-fluid p-1 text-center">
            <div class="row text-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <p  style="color:black">Powered By OpenCart Your Store © 2023</p>
                </div>
          
            </div>
        </div>
    </footer>
</div>