<div th:fragments="footer">
    <footer class="text-white pt-5 pb-4" style="background: black;">
        <div class="container text-center text-md-left">
            <div class="row text-center md-left" style="font-size: 14px;">
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <div id="footerBar">
                        <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:white">Store
                                Information</a>
                        </p>
                        <p><a href="" class="text-decoration-none" style="color:gray">Help Line No</a></p>
                        <p><a href="" class="text-decoration-none" style="color:gray">Demo Store</a></p>
                        <p><a href="" class="text-decoration-none" style="color:gray">demo@example.com</a></p>
                        <p><a href="" class="text-decoration-none" style="color:gray">+84 383674567</a></p>
                    </div>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:white">Your Account</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Personal info</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Orders</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Credit slips</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Addresses</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:white">Product</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Prices drop</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Best sales</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Contact us</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Sitemap</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:white">Our Company</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Delivery</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Legal Notice</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Terms and conditions of use</a>
                    </p>
                    <p><a href="" class="text-decoration-none" style="color:gray">About us</a></p>
                </div>
                <div class="col-md-auto col-lg-auto col-xl-auto mx-auto mt-auto text-start">
                    <p><a href="" class="text-decoration-none fs-4 fw-500" style="color:white">Extra Links</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Mobile</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Smart TV</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Computers</a></p>
                    <p><a href="" class="text-decoration-none" style="color:gray">Electronices</a></p>
                </div>
            </div>
        </div>
    </footer  >
    <div class="container-fluid p-3" style="background: black;">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <p class="text-secondary">@ 2023 - Ecommerce software by PrestaShop</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <img src="/Java5_ASM/src/main/resources/static/images/visa.jpg" alt="" class="img-fluid">
                <img src="/Java5_ASM/src/main/resources/static/images/visa2.jpg"alt="" class="img-fluid">
                <img src="/Java5_ASM/src/main/resources/static/images/visa3.jpg" alt="" class="img-fluid">
                <img src="/Java5_ASM/src/main/resources/static/images/visa4.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>