<div th:fragments="navbar">
	<div class="navbar" style="display: block;">
		<div>
			<div class="container-fluid pt-1 is-outline-pink">
				<nav id="top">
					<div class="container">
						<div class="row pt-3 pb-3 pe-3">
							<div class="mb-6 col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 top-left">
								<div class="contact-info">
									<a class="text-dark text-decoration-none" href="#">
										<i class="bi bi-telephone-fill"></i>
										<span class="">+1 (123) 8425733</span>
									</a>
								</div>
							</div>
							<div class="mb-6 col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-end">
								<div class="pull-left">
									<form action="" method="post" enctype="multipart/form-data" id="form-currency">
										<div class="dropdown btn-group">
											<a href="#" data-bs-toggle="dropdown"
												class="dropdown-toggle btn-link text-dark text-decoration-none"
												aria-expanded="false">
												<span class="drop-text">Language</span>
												<!-- <span class="symbol">Option</span> -->
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="dropdown-menu currency-dropdown dropdown-menu-right mt-2">
												<li><a href="" class="dropdown-item">English</a></li>
												<li><a href="" class="dropdown-item">Viet nam</a></li>
												<li><a href="" class="dropdown-item">China</a></li>
											</ul>
										</div>
										<input type="hidden" name="code" value="" />
										<input type="hidden" name="redirect" value="" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div>
				<div class="container pt-4">
					<div class="row header-inner align-items-center">
						<div class="text-left col-lg-4 col-xl-4 col-xxl-4 header-left">
							<div class="input-group mb-3 mt-3 " style="width:300px;">
								<input type="text" class="form-control rounded-0"
									style="background-color: rgb(223, 223, 223);" placeholder="Search..."
									aria-label="Search..." aria-describedby="button-addon2">
								<button class="btn btn-outline-secondary rounded-0 border-0 is-outline-pink" type="button" id="button-addon2"><i
										class="bi bi-search text-light"></i></button>
							</div>
						</div>
						<div
							class="text-center header-center text-lg-center col-lg-4 col-sm-4 mb-6 col-6 col-xl-4 col-xxl-4">
							<a href="https://bookcart.themability.com/index.php?route=common/home&amp;language=en-gb"><img
									src="https://bookcart.themability.com/image/catalog/logo.png" title="Your Store"
									alt="Your Store" class="img-fluid"></a>
						</div>
						<div class="header-right col-lg-4 col-sm-8 mb-6 col-6 col-xl-4 col-xxl-4">
							<form class="d-flex justify-content-end">
								<div class="icon">
									<a href=" #" class="position-relative text-end">
										<span class="fs-4 text-dark ii"><i class="bi bi-person-circle "></i></span>
									</a>
								</div>
								<div class="icon">
									<a href="#" class="position-relative">
										<span class="fs-4 text-dark ii"><i class="bi bi-cart3"></i></span>
										<span
											class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
											0
										</span>
									</a>
								</div>
								<div class="icon">
									<a href="#" class="position-relative">
										<span class="fs-4 text-dark ii"><i class="bi bi-heart-fill"></i></span>
										<span
											class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
											0
										</span>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<hr style="border-top: 3px dashed  rgb(120, 80, 80)" />

			<div class="header-menu text-center">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<!-- <a class="navbar-brand" href="#">Navbar</a> -->
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav m-auto mb-2 mb-lg-0 ">
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Shop</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Categories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Product</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Pages</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Brand</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Dropdown link
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li><a class="dropdown-item text-dark" href="#">Action</a></li>
										<li><a class="dropdown-item text-dark" href="#">Another action</a></li>
										<li><a class="dropdown-item text-dark" href="#">Something else here</a></li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" href="#">Blog</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>