@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.icon {
    margin-left: 15px;
    margin-right: 15px;

}

.ii i:hover {
    color: rgb(178, 153, 153);
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}

.nav-link {
    color: black;
}