@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Noto+Sans:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}

:root{
    --foreground-rgb: 0,0,0;
    --main-pink-color: 191, 164, 164;
    /* --dashed-color:; */
    --background-start-rgb: 178, 153, 153;
    --default-color-1: 191, 164, 164;
    --black-color: black;
    --black-color-br: black;
    --gray-color: 233, 233, 233;
}

.is-outline-pink{
    background-color: rgb(var(--main-pink-color));
}
.is-outline-gray{
    background-color: rgb(var(--gray-color));
}

.is-outline-black{
	color: var(--black-color)!important;
	
}

.is-br-black{
	background-color: var(--black-color)!important;
}


.icon {
    margin: 0px 15px;
}

.ii i:hover {
    color:  rgb(var(--main-pink-color));
}

.nav-item {
    margin: 0px 15px;
    color: rgb(var(--black-color));
}

.nav-link {
    color: rgb(var(--black-color));
}

.social-sharing li {
	height: 35px;
	width: 35px;
	display: inline-block;
	border: 1px solid #666666;
	border-radius: 50%;
	margin: 0 5px 0 0;
	text-align: center;
}

.social-sharing li a {
	text-align: center;

}
.button{
    width: 90px;
    margin-left: 93%;
    background: #ca9b9b;    
}


.facebook,
.twitter,
.pinterest {
	padding: 10px;

}
