<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div th:replace="~{commons/head ::  head}"></div>
<body>
	<div class="container-fluid">
		<div th:replace="~{commons/nav_admin :: #nav_admin}"></div>
		<div class="row">
			<div class="col-md-2">
				<div th:replace="~{commons/button_admin :: #button_admin}"></div>

			</div>
			<div class="col-md-10">
				<form th:action="@{/user/search}" method="post"
					class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
					<div class="text-right  header-right me-5  mr-auto">
						<div class="input-group mb-3 mt-3 text-right ms-5"
							style="width: 350px;">
							<input type="text" class="form-control rounded-0 is-outline-gray"
								placeholder="Tìm kiếm..." aria-label="Search..." name="search"
								aria-describedby="button-addon2">
								
							<button
								class="btn btn-outline-secondary rounded-0 border-0 is-outline-pink"
								id="button-addon2">
								<i class="bi bi-search text-light"></i>
							</button>
						</div>
						<p class="text-danger ps-5">[[${SearchUsers}]]</p>
					</div>
				</form>
				<div class="col-md-10 offset-md-1 pt-3">
					<div class="card rounded-0 border-0">
						<div class=" pb-2 fs-4 p-4 pt-0 fw-bold">Danh sách người
							dùng</div>
						<form class="row g-3" method="post" th:object="${user}">
							<div hidden="" class=" p-5 pt-3 pb-1">
								<label for="inputAddress" hidden class="form-label fw-bold">ID:
								</label>
								<!--/*@thymesVar id="id" type=""*/-->
								<input type="text" name="id" th:value="${user?.id}"
									readonly="readonly"
									class="form-control rounded-0 border-secondary" id="inputId" />
							</div>

							<div class=" p-5 pt-3 pb-1">
								<label for="inputAddress" class="form-label fw-bold">Tên
									khách hàng: </label> <input th:value="${user?.name}" type="text"
									name="name" class="form-control rounded-0 border-secondary"
									id="inputTenKh" />


							</div>
							<div class=" p-5 pt-3 pb-1">
								<label for="inputAddress" class="form-label fw-bold">Mật
									khẩu: </label> <input th:value="${user?.password}" type="password"
									name="password" class="form-control rounded-0 border-secondary"
									id="inputPassword" />


							</div>
							<div class=" p-5 pt-3 pb-1">
								<label for="inputAddress" class="form-label fw-bold">Email:
								</label> <input type="email" th:value="${user?.email}" name="email"
									class="form-control rounded-0 border-secondary" id="inputEmail" />

							</div>
							<div class=" p-5 pt-3 pb-1">
								<label for="inputAddress" class="form-label fw-bold">Số
									điện thoại: </label> <input type="text" th:value="${user?.phone}"
									name="phone" class="form-control rounded-0 border-secondary"
									id="inputAddress" />

							</div>
							<div class="form-radio mb-3">
								<label class="form-radio-label ms-4"> <input
									class="form-radio " value="1"
									th:checked="${user?.role == true}" type="radio" name="role">
									Admin <input class="form-radio" type="radio" name="role"
									value="0" th:checked="${user?.role == false}"> User
								</label>
							</div>
							<div class=" p-5 pt-1 pb-3">
								<button type="submit"
									class="btn border-0 fs-6 rounded-0 text-light is-outline-pink"
									style="width: 100px;" formaction="/user/create">Thêm</button>
								<button type="submit"
									class="btn border-0 fs-6 rounded-0 text-light is-outline-pink"
									style="width: 100px;">Xóa</button>
								<button type="submit"
									class="btn border-0 fs-6 rounded-0 text-light is-outline-pink"
									style="width: 100px;" formaction="/user/update">Sửa</button>
								<button type="submit"
									class="btn border-0 fs-6 rounded-0 text-light is-outline-pink"
									style="width: 100px;" formaction="/user/new">Đặt lại</button>
							</div>
						</form>
					</div>
				</div>
				<table class="table border-0  ">
					<thead class=" font-weight-bold text-dark">
						<tr class="fw-bold">
							<td>ID:</td>
							<td>Họ và Tên:</td>
							<td>Mật khẩu:</td>
							<td>Email</td>
							<td>SDT:</td>
							<td></td>
							<!-- <td>&nbsp;</td> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td class="fw-bold">[[${user.id}]]</td>
							<td>[[${user.name}]]</td>
							<td>[[${user.password}]]</td>
							<td>[[${user.email}]]</td>
							<td>[[${user.phone}]]</td>
							<td><a style="text-decoration: none;"
								th:href="@{/user/edit(id=${user.id})}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
							<th><a class="is-color-pink fs-4"
								style="text-decoration: none;"
								th:href="@{|/user/delete/${user.id}|}"><i
									class="bi bi-trash"></i></a></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>